@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kode+Mono:wght@400..700&family=Playwrite+BE+VLG:wght@100..400&family=Share+Tech+Mono&display=swap');

* {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #263238;
}

h1 {
	color: #FAFAFA;
}

.cell {
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #455A64;
	margin: 5px;
	transition: background-color 0.2s;
	color: #FAFAFA;
	font-size: 72px;
}

.gameBoard{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 20px;
}